*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
body{
	background: linear-gradient(rgb(103, 76, 29),rgb(107, 89, 29));
	background-size: 100% 100%;
	font-family: 'Montserrat', sans-serif;
}
header{
	height: 200px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 5px;
	font-weight: normal;
	font-size: 20px;
	animation: topdown 1s;
}
.container{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(3,1fr);
	grid-gap: 10px;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding:20px;
}
.box h3{
	font-size: 20px;
	color: #fff;
	font-weight: bolder;
}
.box textarea{
	font-size: 20px;
	text-align: center;
	height: 125px;
	width: 90%;
	overflow-x: auto;
	overflow-y: scroll;
	padding-top: 20px;
}
@keyframes topdown{
	0%{
		margin-top:-200px;
	}100%{
		margin-top: 0;
	}
}

@media(max-width:1000px){
	.container{
		grid-template-columns: repeat(1,1fr);
	}
	.box textarea{
		width: 80%
	}
};